/*______________________________________ File  ______________________________________*/
*{
text-decoration: none;
transition-duration: 0.1s;
}

p{
font-size: inherit;
font-weight: inherit;
color: inherit;
text-decoration: inherit;
}

body{
margin: 0%;
}

html{
background-color: rgb(20, 54, 66);
}

/*______________________________________ Reference  ______________________________________*/


.reference{
height: auto;
display: flex;
justify-content: start;
align-items: center;
margin-top: 0px;
padding: 0px;
background-color:  rgb(20, 54, 66);
width: 100%;
position: sticky;
z-index: 120;

top: 0;
}


.button{
background-color: rgb(20, 54, 66);
color: white;
border: none;
text-decoration:underline; 
text-decoration-thickness: 4px;
}


.home{ text-decoration-color:rgb(50, 110, 178);}
.team{ text-decoration-color: rgb(233, 181, 39);}
.donate{text-decoration-color: rgb(234, 80, 83);}

.home:hover{
background-color: rgb(50, 110, 178);
text-decoration-color:rgba(255, 255, 255, 0);
color: rgb(255, 255, 255);
}
.team:hover{
background-color: rgb(233, 181, 39);
text-decoration-color:rgba(255, 255, 255, 0);
color:rgb(255, 255, 255);
}
.donate:hover{
background-color:  rgb(234, 80, 83);
text-decoration-color:rgba(255, 255, 255, 0);
color: rgb(255, 255, 255);

}
/*______________________________________ CGC Team  ______________________________________*/

.Contributers{
flex-direction: column;
position: absolute;
z-index: 124;
top: 0px;
height: 500px;
width: auto;
min-width: 200px;
background-color: #000000b8;
color: aliceblue;
text-align: center;
justify-content: top;
font-weight: 900;
align-items: center;
justify-content: center;
}

.name_style{
  font-size: x-large;
  font-family: raleway;
  padding: 10px;
  position: relative;
}
.CGC_C{

  font-size: 15px;
  font-family: raleway;
  padding: 10px;
  position: relative;
}

.map_style{
  display:none;
  position: absolute;
  left: 195px;
  top: 0;
}

  
  @keyframes fade {
  from {display: none}
  to {display: flex}
  }
  
  @keyframes fade {
  from {display: flex}
  to {display: none}
  }

.CGC_Symbol{
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(10, 157, 121);
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  min-height:100px;
  z-index: 100333;
  text-align: center;
  font-family: raleway;
  font-weight: 900;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  border-radius: 10px 0px 0px 10px ;

}

.linkibo{
text-decoration: none;
display: none;
}
.linkibo_a{
text-decoration: none;
color: white;
}
.linkibo_a:hover{
font-size: 16px;
color: rgb(85, 225, 158);
}
.Description{
display: flex;
width: 100%;
height: 30px;
text-align: center;
justify-content: center;
align-items: center;
background-color: rgb(10, 157, 121);
color: white;
position: absolute;
bottom: 0;
font-family: raleway;
}

.Description:hover{
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgb(17, 195, 150);
  position: absolute;
  bottom: 0;
  font-family: raleway;
  transition-duration: 0.2s;
}






/*------------------------------------Title------------------------------------*/

.title{
  width: 100%;
  background-color: rgb(20, 54, 66);
  height: 150px;
  padding-top: 90px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  .title_container{
  font-family: raleway;
  text-align: center;
  font-weight: bold;
  color: white;
  margin: 0;

  }

  .line{
    height: 27px;

  }
  
  
  .text_container{ 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  background-color: rgb(20, 54, 66);
  }
  .text{

  text-align: left;
  font-family: raleway;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgb(20, 54, 66);
  color: white;
  
  
  }







/* ________________________________________________________________ orgs ________________________________________________________________ */


.orgs{
width: 100%;
height: auto;
padding-top: 50px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: center;
position: relative;
background-color: rgb(20, 54, 66);
}


.org-c{
display: flex;
flex-direction: column;
margin: 5px;
border-style: solid;
border-style:solid ;
border-color:rgb(0, 165, 80);
border-radius: 10px;
border-width: 5px;
position: relative;
}
.img_org{
  height: 50%;
background-color: rgb(255, 255, 255);
color: rgb(255, 255, 255);
margin: 0%;
border-radius: 5px 5px 0px 0px;
border: 0%;
}

.img{
width: 100%;
height: 100%;
border-radius: 5px 5px 0px 0px;
object-fit: contain;
background-color: white;
}

.text_org{
  background-color: white;
  text-align: center;
  color: black;
  height: 48%;
  border-radius: 0px 0px 5px 5px;
  color: #000000;
  font-family: raleway;
  font-weight: bold;
  padding: 1%;
  }
  
  .link_D{
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  border-radius: 5px 0px 5px 0px;
  }
/* ______________________________________________________________________________________________________________ slideshow ______________________________________________________________________________________________________________ */

.slideshow-container {
max-width: 1000px;
padding-top: 5px;
position: relative;
display: flex;
flex-direction: row;
margin: auto;
box-sizing:border-box;
}

.mySlides {
display: none;
align-items: center;
justify-content: center;
margin: 20px;
border-style: solid;
border-width: 6px;
border-top-color: rgb(50, 110, 178);
border-right-color: rgb(10, 157, 121);
border-left-color:rgb(234, 80, 83);
border-bottom-color: rgb(233, 181, 39);
border-radius: 10px;
background-color:rgba(255, 255, 255, 0.434);


}

.prev, .next {
cursor: pointer;
position: absolute;
display: flex;
justify-content: center;
align-items: center;
top: 50%;
padding: 4px;
color: rgb(255, 255, 255);
font-weight: bold;
font-size: 18px;

transition: 0.6s ease;
user-select: none;
}

.next {

border-radius: 0px 3px 3px 0px;
background-color: rgb(234, 80, 83);

}
.prev {

border-radius: 3px 0px 0px 3px;
background-color:  rgb(234, 80, 83);

}

.name{
height: 30%;
display: flex;
align-items: center;
justify-self: center;
}

P{
font-size: inherit;
}
a{
display: block;
}


.Costumer-CC{
  height: 200px;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.Costumer-message{
  color: white;
  font-size: 40px;
  text-align: center;
  width: 100%;
  font-family: raleway;
}
